.navbar-custom {
    background-color: #2e2926;
    text-transform: uppercase;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text,
.navbar-custom .navbar-toggler,
.navbar-custom .navbar-nav .nav-link {
    color: #ffd000;
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffe880;
}
